.fs-10{font-size: 10px;}
.fs-11{font-size: 11px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 0.17rem;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 0.2rem;}
.fs-21{font-size: 20px;}
.fs-22{font-size: 0.22rem;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-25{font-size: 0.25rem;}
.fs-26{font-size: 26px;}
.fs-27{font-size: 27px;}
.fs-28{font-size: 28px;}
.fs-29{font-size: 29px;}
.fs-30{font-size: 30px;}
.fs-31{font-size: 0.3rem;}
.fs-32{font-size: 32px;}
.fs-33{font-size: 33px;}
.fs-34{font-size: 34px;}
.fs-35{font-size: 0.30rem;}
.fs-36{font-size: 36px;}
.fs-38{font-size: 38px;}
.fs-40{font-size: 40px;}
.fs-42{font-size: 42px;}
.fs-50{font-size: 50px;}
.fs-70{font-size: 70px;}



.bold{font-weight: bold;}
.normal{font-weight: normal;}
.dx{text-transform: uppercase;}
.cur-def{cursor: default;}
.lh-2{line-height: 2;}
.tt-r{text-align: right;}
.tt-l{text-align: left;}


.c-65{color: #656565;}
.c33{color: #333333;}
.bd-023{border: 1px solid #F0A023;}
.c505{color: #B70505;}
.c3f{color: #3F3F3F;}
.lh-2{line-height: 2;}
.c251{color: #D9251B;}
.c6D{color: #6D6D6D;}
.c-ff{color: #FFFFFF;}
.c-023{color: #f0a023;}
.c-66{color: #666;}
.c-99{color: #999;}
.c-239{color: #E56239;}
.c-947{color: #007947;}
.c-75{color: #757575;}
.bg-00{background-color: #000;}
.bg-ff{background-color: #FFFFFF;}
.inblock{display: inline-block;}
.block{display: block;}
.dq{display: table-cell;vertical-align: middle;}



.fs-st{font-family: 宋体;}
.fs-wr{font-family: 微软雅黑;}
.fs-arial{font-family: arial;}
.fs-gar{font-family: garamond;}


.pdt-1{padding-top: 1%;}
.pdt-2{padding-top: 2%;}
.pdt-25{padding-top: 2.5%;}
.pdt-4{padding-top: 4%;}
.pdb-2{padding-bottom: 2%;}
.pdb-5{padding-bottom: 5%;}
.plr-30{padding: 0 13%;}
.plr-5{padding: 0 5%;}
.mrt-25{margin-top: 2.5%;}
.mrb-2{margin-bottom: 2%;}
.pdb-35{padding-bottom: 3.5%;}
.pdlr-3px{padding: 0 3px;}